.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top; /*top of the image stays the same, it crop out the from bottom*/
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  .logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;

    .logo {
      height: 3.5rem;
    }
  }

  .text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /*shift 50% of width and height from top and left*/
    text-align: center;
  }

}
