.u-center-text {
  text-align: center !important;
}

.u-mb-sm {
  margin-bottom: 1.5rem !important;
}

.u-mb-md {
  margin-bottom: 4rem !important;
}

.u-mb-lg {
  margin-bottom: 8rem !important;
}

.u-mt-lg {
  margin-bottom: 8rem !important;
}
.u-mt-xxl {
  margin-bottom: 10rem !important;
}
